# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.ipch
*.tlog
*.recipe
*.log
*.idb
*.txt
*.iobj
*.ipdb
*.pdb
*.ilk
*.db-wal
*.db
*.db-shm
*.lock
*.vsidx
.vs/DecryptEACPayload/v17/.suo
*.i64
*.id0
*.til
*.nam
*.id1
*.bin
*.enc
.vs/DecryptEACPayload/v17/DocumentLayout.json
.vs/DecryptEACPayload/v17/DocumentLayout.backup.json
*.yml
